[submodule "src/realsense"]
	path = src/realsense
	url = https://github.com/intel-ros/realsense.git
  ignore = dirty
[submodule "src/slam_gmapping"]
	path = src/slam_gmapping
	url = https://github.com/ntwong0/slam_gmapping.git
[submodule "src/navigation"]
	path = src/navigation
	url = https://github.com/ntwong0/navigation.git
[submodule "src/robot_localization"]
	path = src/robot_localization
	url = https://github.com/ntwong0/robot_localization.git
