[submodule "src/realsense"]
	path = src/realsense
	url = https://github.com/intel-ros/realsense.git
  ignore = dirty
[submodule "src/slam_gmapping"]
	path = src/slam_gmapping
	url = https://github.com/ntwong0/slam_gmapping.git
[submodule "src/navigation"]
	path = src/navigation
	url = https://github.com/ntwong0/navigation.git
[submodule "src/robot_localization"]
	path = src/robot_localization
	url = https://github.com/ntwong0/robot_localization.git
[submodule "src/geographic_info"]
	path = src/geographic_info
	url = https://github.com/ros-geographic-info/geographic_info-release.git
[submodule "src/uuid_msgs"]
	path = src/uuid_msgs
	url = https://github.com/ros-geographic-info/unique_identifier-release.git
[submodule "src/move_base_msgs"]
	path = src/move_base_msgs
	url = https://github.com/ros-gbp/navigation_msgs-release.git
[submodule "src/image_pipeline.git"]
	path = src/image_pipeline
	url = https://github.com/ros-perception/image_pipeline.git
